.App {
  text-align: center;
  background-image: url("./img/japanese-transparent.png");
  background-size: cover;
  height: 100vh;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #ff3b3b;
  color: rgb(0, 0, 0);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fd0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.base-container {
  width: 18%;
  border: solid ;
  
 
}
.header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}
.image {
  width: 21em;
}
img {
  width: 100%;
  height: 100%;
}
    

.login {
margin-top: 2em;
display: flex;
flex-direction: column;
align-items: center;

}
.form-group {
display: flex;
flex-direction: column;
align-items: flex-start;
width: fit-content;
}
label {
font-size: 20px;
}
input {
margin-top: 6px;
min-width: 18em;
height: 37px;
padding: 0px 10px;
font-size: 16px;
font-family: "Open Sans", sans-serif;
background-color: #cacaca;
border: 0;
border-radius: 4px;
margin-bottom: 31px;
transition: all 250ms ease-in-out;
}



.footer {
  margin-top: 3em;
}

.MainQuiz {
  background-color: red;
  border-left: 5px solid white;
  border-right: 5px solid white;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0px 10px;
}

.QTitle {
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 5;
  text-align: center;
}  

.answers-container {
  display: inline-block;
  width: 50%;
}

.answer {
  background-color: green;
  border-radius: 1px;
  color: white;
  cursor: crosshair;
  margin: 10 auto;
  padding: 10px 10px;
  transition: 0.3s linear all;
  text-align: center;
  width: 90%;
}

.answer:hover {
  background-color: darken(blue, 20%);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  padding: 10px 10px;
  width: 0%;

}

.button {
  border: none;
  color: white;
  cursor: pointer;
  margin: 10 auto;
  
}